:root
{
  --bgtheme1 : #00FF0F;
  --bgtheme2 : #C12F7A;
  --nvbr_color: #1111;
  --nvbr-hglght: #2222;
  --bgcolor: #009688;  /**Teal Color, same used in W3 stylesheet*/
  --pad:15px; /** If i want to make a universal padding value   */
}

body
{
    background-color: var(--bgcolor);
    color: white;
    margin: 0px;
}


p.hor_line
{
  border-style : solid;
  border-width : 4px;
  padding-bottom : 0 !important;
  padding-top : 0 !important;
}

p.subtitle
{
    font-size : 30px;
    font-style : italic;
    text-align : center;
}

.jumbotron
{
  /**
                  -Self made sun made with gradiants

  background : radial-gradient(circle, var(--bgtheme2) , yellow, black) !important;
  */

  background-image: url("../images/leaves.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color : white !important;
  border-radius : 50px;
  margin: 25px;
  margin-top: 50px;
  top:10px;
}

a
{
  color: var(--bgcolor);
}
/**

  current objects on navbar...
  Find out how to change the color of the link text to
  teal;


*/
ul.nav_bar
{
  list-style-type : none;
  border-radius: 50px;
  margin : 0px !important;
  padding: 10px;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  overflow : hidden;
  color: red;
  background-color : #333;
}

li.nav_bar
{
  float : left;
  padding-left: 10px;
  padding-right: 10px;
}

li.nav_bar:last-child
{
  border-right : none;
  float: right;
}

li a.nav_bar
{

  display : block;
  text-align : center;
  padding : 14px 16px;
  text-decoration : none;
}


li a:hover
{
  text-decoration: none;
  background-color: green;
  color: var(--bgcolor);
  overflow: scroll;
  padding:  14px 16px;
}
