<div class="w3-panel w3-border w3-margin w3-padding-4">
    <h4 style="text-align:center">Judal artikel web ini</h4>
    <p style="width:45%; float:left;top: 10px"> ini merupakan artikel pertama untuk pembuatan include html ini ini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html ini </p>

    <p style="width:45%; float:right; top:10px"> ini merupakan artikel pertama untuk pembuatan include html ini ini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html iniini merupakan artikel pertama untuk pembuatan include html ini
    ini merupakan artikel pertama untuk pembuatan include html ini </p>
</div>
